{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<section id = "results">

  <div class="row">
    <div class="col-md-6 intro">
      <div class="info-intro">
        <h3>Know the weather patterns of your current place or where you plan to go 🏄🏻</h3>
      </div>
      <div class="search-form">
        <form method = "post">
          {% csrf_token %}
          <input type="text" name="search" id="">
          <button class = "btn btn-outline btn-warning">Search</button>
        </form>
      </div>
      <div class="rain">
        <img src="{% static 'images/fall.png' %}" alt="Weather-image">
      </div>
    </div>
    {% for i in info %}
    
    <div class="col-md-6">
      <div class="weather-details">
        <div class="top-header text-center">
          <h4>Today’s Highlights</h4>
        </div>
        <div class="city">
          <h1>{{city}}</h1>
        </div>
        <div class="condition">
          <div class="box ">
              <img src=" http://openweathermap.org/img/wn/{{i.icon}}@2x.png" alt="" class="weather-img">
              <h4>{{i.description}}</h4>
          </div>
          <div class="box text-center">
            <p class = 'description'>TEMPERATURE</p>
            <h4>{{temperature |floatformat:1}}</h4>
          </div>
          <div class="box text-center">
            <p class = 'description'>WIND SPEED</p>
            <h4>{{wind}} m/s</h4>
          </div>
          <div class="box text-center">
            <p class = 'description'>HUMIDITY</p>
            <h4>{{humidity}} %</h4>
          </div>
          <div class="box text-center">
            <p class = 'description'>PRESSURE</p>
            <h4>{{pressure}} hPa</h4>
          </div>
          <div class="box text-center">
            <p class = 'description'>COUNTRY</p>
            <h4>{{country}}</h4>
          </div>
        </div>
       
      </div>
      {% endfor %}
    </div>
   
  </div>
</section>





{% endblock %}