{% extends  'main/base.html' %}

{% load static %}
{% block content %}
<main>
  <section id="landing">
    <div class="landing">
    
      
     <div class="row">
        <!-- Navbar -->
        <!-- <nav class="navbar navbar-light bg-transparent">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              
             
            </a>
          </div>
        </nav> -->
        <div class="nav">
          <h5> WeatherWix</h5>
        </div>
        <div class="logo">
          <img src="{% static 'images/logo.png' %}"class = "nav-img" alt="">
        </div>
        <div class="col-lg-6">
          <!-- Landing-page -->
          <div class="content">
            <h1>Know Your Weather and keep weathering with us </h1>          
          </div>
          <div class="subcont">
            <h5>Weather assistant at the comfort of your home</h5>
          </div>
        </div>
        <div class="col-lg-6 landing-image">
         <img src="{% static 'images/page.png' %}" alt="Landing-image" class="landing-img">
        </div>
  
     </div>
     <div class="start">
       <a href="{% url 'weather-data' %}"><button class="btn btn-warning">Get Started</button></a>
     </div>
    
    </div>
  
  </section>
</main>


<!-- {{data}} -->

{% endblock %}