html{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  background-color: #010A3D;
  height: auto !important;
  color: #FDFEFF !important;
  padding:2% 6%;
}
.nav-img{
  width: 100px;
  height: 100px;
  position:absolute;
  top: -.5rem;
  left: 2rem;
}
.content h1{
  margin-top: 5rem;
  font-weight: 900;
  font-size: 4rem;
  width: 60%;
}

.subcont h5{
margin: 2rem 0;
font-weight: 900;
}
.landing-image{
  margin: 6rem auto;
}
.start{
  margin: 3rem 0;
}
.start button{
  padding: 1rem 3rem;
  color: #FDFEFF;
  font-weight: 900;
  font-size: 1.5rem;
}
#results{
background-color:#e0e0e0;
height: 100vh;
}
.box{
border-radius: 50px;
background: #e0e0e0;
box-shadow: inset 20px 20px 60px #bebebe,
            inset -20px -20px 60px #ffffff;
}